# idea
/.idea

# root
/project/project/target
/project/target
/target

# modules
/core/target
/deps/target
/fxgui/target
/natives/target
/opencl/target
/random/target
/sorts/target

# jocl

/JOCL-*.jar

# CMake files

/CMakeFiles
